<div class="full" id="about">
  <div class="main-container">
    <h1>
      Sobre mim()<span class="accent">{{ ' { ' }}</span>
    </h1>
    <p>
      Graduado em Análise e Desenvolvimento de Sistemas e pós-graduado em Engenharia de Software,
      tenho experiência nas áreas de Suporte em Sistemas e Desenvolvimento de Software, com vivência
      em linguagens de programação, bancos de dados e testes de qualidade.<span
        class="closing-brace"
        >{{ '}' }}</span
      >
    </p>
  </div>
</div>
