<div class="main-full" id="home">
  <div class="hello terminal">
    <div class="terminal-bar">
      <div class="terminal-buttons">
        <span class="terminal-button close"></span>
        <span class="terminal-button minimize"></span>
        <span class="terminal-button zoom"></span>
      </div>
      <div class="terminal-title">Terminal</div>
    </div>
    <div class="terminal-window">
      <div class="line">
        $
        <span class="typing first-line">sudo install-work --candidate <span class="highlight">"Wéverson
            Cruz"</span></span>
      </div>
      <div class="line">
        $
        <span class="typing second-line">--role <span class="highlight">"Software Developer"</span></span>
      </div>
      <div class="line success">Successfully hired!</div>
      <div class="line prompt">$ <span class="cursor">_</span></div>
    </div>
  </div>
  <div class="profile-photo">
    <img src="assets/profile.png" alt="Profile" />
  </div>
</div>