$primary-light: #82E6AB;
$primary: #2ED573;
$primary-dark: #25AA5C;

$gray-100: #E7E8EB;
$gray-200: #CFD2D7;
$gray-300: #B8BBC2;
$gray-400: #A0A4AD;
$gray-500: #898E98;
$gray-600: #727883;
$gray-700: #5C616E;
$gray-800: #454858;
$gray-900: #2F3542;