@use '../styles/variables' as *;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.div-home {
  padding: 12rem;
  padding-bottom: 15rem;

  @media screen and (max-width: 768px) {
    padding: 0px;
  }
}

.div-about {
  width: 100%;
  background-color: $gray-100;
}
