@use '../../../styles/variables' as *;

.full {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

h1 {
  color: $gray-100;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  .accent {
    color: $primary;
  }
}

.education-cards {
  width: 100%;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 12rem 6rem 12rem;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    padding: 0 2rem 3rem 2rem;
  }
}

.education-card {
  border-radius: 8px;
  padding: 1rem 0;
  transition: transform 0.3s ease;

  .card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;

    img {
      width: 40px;
      height: 40px;
      filter: brightness(0) saturate(100%) invert(94%) sepia(6%) saturate(95%) hue-rotate(185deg)
        brightness(97%) contrast(93%);
    }

    h3 {
      color: $primary;
      margin: 0;
    }
  }

  .card-body {
    h4 {
      color: $gray-300;
      margin: 0 0 10px 0;
    }

    .course-type {
      color: $gray-300;
      margin: 5px 0;
    }

    .period {
      color: $gray-400;
      font-size: 0.9rem;
    }
  }
}
