@use 'styles/variables' as *;
@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $gray-900;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
}

@viewport {
  width: device-width;
  zoom: 1;
  min-zoom: 1;
  max-zoom: 1;
  user-zoom: fixed;
}
