@use '../../../styles/variables' as *;

.experience-container {
  padding: 6rem 12rem 6rem 12rem;
  background-color: $gray-800;
  min-width: 320px;

  h1 {
    color: $gray-100;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;

    .accent {
      color: $primary;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 6rem 2rem 6rem 1rem;

    .timeline {
      gap: 0px;
    }

    .experience-item {
      gap: 0px;
      .period {
        font-size: 0.5rem;
        text-align: center;
      }
      .content {
        .company {
          font-size: 0.7rem;

          .company-name {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experience-item {
  display: flex;
  gap: 2rem;

  .period {
    color: $primary;
    min-width: 150px;
  }

  .content {
    .company {
      color: $gray-100;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .company-name {
        font-size: 0.9rem;
        color: $gray-300;
      }

      i {
        font-size: 1rem;
      }
    }
  }
}
