@use '../../../styles/variables' as *;

.experience-container {
  background: $gray-800;
  padding: 0 12rem 6rem 12rem;

  h1 {
    color: $gray-100;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 1rem;
    .accent {
      color: $primary;
    }
  }
}

.experience-item {
  display: flex;
  border-radius: 8px;
  padding: 1rem 0;
  transition: all 0.3s ease;

  .period {
    color: $gray-300;
    font-size: 0.9rem;
    min-width: 150px;
  }

  .content {
    .company {
      color: $gray-100;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .company-name {
        font-size: 0.9rem;
        color: $gray-300;
      }

      i {
        font-size: 1rem;
      }
    }
  }
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.role-info {
  .job-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: $primary;
    margin-bottom: 0.5rem;
  }

  .company-name {
    font-size: 1rem;
    color: $gray-400;
  }
}

.period {
  font-size: 0.9rem;
  color: $gray-300;

  @media (max-width: 768px) {
    align-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .experience-container {
    padding: 0 2rem 3rem 2rem;
  }
}
