@use '../../../styles/variables' as *;

.experience-container {
  background: $gray-900;
  padding: 0 12rem 6rem 12rem;

  h1 {
    color: $gray-100;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 1rem;
    .accent {
      color: $primary;
    }
  }
}

.experience-item {
  display: flex;
  border-radius: 8px;
  padding: 1rem 0;
  transition: all 0.3s ease;

  .period {
    color: $gray-300;
    font-size: 0.9rem;
    min-width: 150px;
  }

  .content {
    .company {
      color: $gray-100;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .company-name {
        font-size: 0.9rem;
        color: $gray-300;
      }

      i {
        font-size: 1rem;
      }
    }
  }
}

.timeline {
  display: grid;
  gap: 2rem;
  padding: 2rem 0;
}

.experience-card {
  background-color: $gray-800;
  border-radius: 8px;
  padding: 1.5rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.role-info {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  .text-info {
    .job-title {
      font-size: 1.25rem;
      font-weight: 600;
      color: $primary;
      margin-bottom: 0.5rem;
    }

    .company-name {
      color: $gray-400;
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 2px;

      .bi-building {
        width: 24px;
        height: 24px;
        color: $gray-200;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.period {
  color: $gray-300;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .experience-container {
    padding: 0 2rem 3rem 2rem;
  }

  .timeline {
    padding: 1rem 0;
  }

  .experience-header {
    flex-direction: column;
    gap: 0.5rem;
  }
}
